/* @media only screen and (max-width: 900px) {

    #info-box-wrapper {
        transform: translate(-50%, -50%);
    }
} */

/* *:hover {
    background-color: red;
} */

@media only screen and (max-width: 768px) {
    html {
        font-size: 0.8rem;
    }

    h5 {
        font-size: 1rem;
    }

    #home .hero.text span {
        z-index: 10;
        position: relative;
    }

    #home img.center-absolute {
        left: 50%;
    }

    .twist {
        transform: translate(-50%, -50%) rotate(4deg);
    }

}

@media only screen and (max-width: 600px) {
    /* #info-box-wrapper {
        display: none;
    } */

    input {
        font-size: 1.2rem !important;
    }

    .box-wrapper {
        padding: 0 8% !important;
    }

    h1 {
        font-size: 2.8rem !important; 
    }

    h2 {
        font-size: 2rem !important;
    }

    h3 {
        font-size: 1.6rem !important;
    }

    h4 {
        font-size: 1.4rem !important;
    }

    p, em {
        font-size: 1.3rem !important;
    }

    #graph {
        height: 60vh;
    }

    #footer .row {
        margin: 0;
    }

    #footer .row div {
        padding: 3px 0;
    }

    #footer .row p {
        font-size: 1.4rem !important;
        text-align: center;
    }

    #footer {
        width: 98%;
    }

} 
    
    canvas {
    left: 0;
}

body {
    background-color: #ffffff;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

#header {
    padding: 25px 3%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

#_dash-app-content > div {
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.focus {
    border-top: #B3B3B3 1px solid;
    border-bottom: #B3B3B3 1px solid;
}

.box-content {
    /* min-width: fit-content;
    width: 64%; */
    padding: 6%; /*0;*/
}

#home.border-box {
    max-height: 350px;
    height: 90vw;
}

.border-box {
    position: relative;
    margin-bottom: 100px;
    width: 95%;
    padding: 0 2%;
}

.box-wrapper {
    padding: 0 10%;
}

.container {
    position: relative;
    /* padding: 50px 5vw; */
    padding: 3.9% 3.9% 0 3.9%;
}

.border-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px 25px 0 0; 
    padding: 1px; 
    background:linear-gradient(rgba(179,179,179,1), rgba(179,179,179,0.7), rgba(179,179,179,0.1), rgba(179,179,179,0)); 
    mask: 
      linear-gradient(#000 0 0) content-box, 
      linear-gradient(#000 0 0);
    mask-composite: exclude; 
}

.mirror::before {
    transform : scaleY(-1);
}

.border-box.mirror {
    margin-bottom: 0;
}

#footer {
    position: relative;
    min-height: 300px;
    /* background: linear-gradient(rgba(65,131,217,1), rgba(0,0,0,0)); */
    border-radius: 25px 25px 0 0; 
    width: 95%;
    bottom: -23px;    
}

#footer > div {
    padding: 10px 20px;
    width: 100%;
    height: 100%;
}

#footer > img {
    width: 48%;
    left: -0.2px;
    top: -0.2px;
}

.logo {
    height: 30px;

}


.center-absolute {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#home {
    margin-top: 90px;
    position: relative;
}

#home .hero.text {
    position: absolute;
    margin: 0 auto;
    top: 33%;
    width: 99%;
}

#home .search {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#home .search input {
    text-align: center;
}

#home img.center-absolute {
    left: 51.8%;
    
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -0.3px;
}

h2 {
    font-size: 2.9rem;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: -1px;
}

h4 {
    font-size: 1.55rem; 
    font-weight: 700;
    letter-spacing: -1px;
}

h5 {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -0.3px;
}

h6 {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: -0.3px;
}

p {
    font-size: 0.9rem;
}

p.fancy {
    font-size: 0.85rem;
    line-height: 16px;
    letter-spacing: -0.2px;
}

p.hero {
    max-width: 520px;
    font-size: 1.3rem;
    letter-spacing: -0.1px;
}

p.simple {
    font-size: 0.81rem;
    margin: 0;
    padding: 0;
}

.blue {
    color: #6cbccc;
}

.text span, .emphasis, .fancy-search {
    font-family: "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-style: italic;
}

.fancy {
    font-family: "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.no-italics {
    font-style: normal;
}

.extra-rounded-borders {
    border-radius: 40px !important;
}

.light-border {
    border: white, 1.5px, solid;
    border-radius: 10px;
    color: white;
}


#footer .basic-button {
    width: 80%;
    min-width: fit-content;
}

.basic-button {
    padding: 0.4rem 0.7rem;
}

.fancy-button {
    /* font-family: "Century Schoolbook", "Century Schoolbook L", Georgia, serif; */
    padding: 12px 3vw;
}

.fancy-button , .basic-button {
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
    width: fit-content;
    color: white;
    font-size: 1rem;
}

.fancy-button .text, .basic-button .text {
    margin-bottom: 0;
}


#graph {
    z-index: 2;
    margin-top: 35px;
}

#graph-wrapper {
    margin-bottom: 50px;
}

#float-left {
    position: absolute;
    left: calc(5px + 1vw);
    top: calc(35px + 1vh);
    z-index: 5;
    width: 300px;
    text-align: left;
}

#float-right {
    position: absolute;
    right: calc(5px + 1vw);
    top: calc(20px + 1vh);
    width: 300px;
}


@media (pointer:coarse) {
    #info-box-wrapper {
        /* display: none !important; */
        transform: none !important;
    }
    

    #info-box {
        display: none;
        position: fixed !important;
        height: 40vh !important;
        width: 100vw;
        bottom: 0 !important;
        left: 0 !important;
        top: unset !important;
        right: unset !important;
        padding: 20px 25px;
        font-size: 14px;
        background-color: #3c3844;
        color: white;
    }

    @media only screen and (min-width: 900px) {
        #info-box {
            width: 60vw;
            left: 50% !important;
            transform: translateX(-50%);
            height: 23vh !important;
            padding-left: 10%;
            padding-right: 10%;
            bottom: 5% !important;
            overflow-y: scroll;
        }
    }

    @media only screen and (max-width: 610px) {
        #info-box {
            text-align: left;
        }
    }

    #info-box em {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
    }

    #info-box p {
        margin-top: 8px;
    }

    #main-wrapper {
        height: unset !important;
    }

}

#info-box {
    border: none;
}

@media not (pointer:coarse) {
    #info-box {
        font-size: 0.85rem;
        padding: 15px 10px;
        position: absolute;
        background-color: unset;
        background: rgba(255, 255, 255, 0.7);
        border: 1px solid black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: none;
        text-wrap: pretty;
        max-width: 28vw;
        width: max-content;
        min-width: 225px;
        transform: translate(-50%, -50%);
        overflow: auto;
        max-height: 16vh;
    }

    #info-box p {
        margin: 0;
        font-size: 0.8rem;
    }
}



.absolute-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 #info-box-wrapper  {
    z-index: 10;
}

input.btn {
    border: 1px solid lightgrey !important; 
    text-align: left;
}

.btn span {
    font-weight: 300;
    font-size: 13px;
}

#themes .btn {
    min-width: 110px !important;
    padding: 2px 8px 6px 8px !important;
    margin: 3px 4px !important;
}

.btn.btn-outline-info {
    background-color: grey;
}

#main-verse {
    font-size: 0.95em;
    min-width: 250px;
    max-width: 700px;
    margin: auto;
    text-wrap: pretty;
    padding: 0;
    position: relative;
}

.inline {
    display: inline !important;
}

#main-verse .title a {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 0 12px;
    color: #41A3D6; /* color['highlight'] */
}

#main-verse .title a:hover {
    text-decoration: solid;
    color: #226B97; /* color['highlight'] */
}

.carousel-card a.arrow {
    position: absolute;
    /* bottom: 0; */
    left: 0;
    margin: 10px 10%;
}

 a.arrow:hover {
    text-decoration: solid;
    color: #226B97;
 }

 a.arrow {
    font-family: "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    margin: 0 8px;
    color: #41A3D6; /* color['highlight'] */
    font-size: 86%;
    vertical-align: text-top;
}

#main-verse .title {
    margin-bottom: 4px;
    display: block;
}

.big H6 {
    font-size: 1.3rem;
}

.big p {
    font-size: 0.95rem
}

 .mw-50 {
    text-align: center;
 }

i {
    color: white;
    margin: 4px;
}

/* p { 
    color: red;
} */
