/* @media only screen and (max-width: 900px) {

    #info-box-wrapper {
        transform: translate(-50%, -50%);
    }
} */

/* *:hover {
    background-color: red;
} */

@media only screen and (max-width: 768px) {
    html {
        font-size: 0.8rem;
    }

    h5 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    /* #info-box-wrapper {
        display: none;
    } */

    input {
        font-size: 1.2rem !important;
    }

    .box-wrapper {
        padding: 0 8% !important;
    }

    h1 {
        font-size: 2.8rem !important; 
    }

    h2 {
        font-size: 2rem !important;
    }

    h3 {
        font-size: 1.4rem !important;
    }

    h4 {
        font-size: 1.2rem;
        font-weight: 800;
        letter-spacing: -0.3px;
    }

    p {
        font-size: 1.3rem !important;
    }

    #graph {
        height: 60vh;
    }
} 
    
    canvas {
    left: 0;
}

body {
    background-color: #ffffff;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

#header {
    padding: 25px 3%;
}

#_dash-app-content > div {
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.focus {
    border-top: #B3B3B3 1px solid;
    border-bottom: #B3B3B3 1px solid;
}

.box-content {
    /* min-width: fit-content;
    width: 64%; */
    padding: 6%; /*0;*/
}

.border-box {
    position: relative;
    min-height: 350px;
    margin-bottom: 100px;
    width: 95%;
    padding: 0 2%;
}

.box-wrapper {
    padding: 0 10%;
}

.container {
    position: relative;
    padding: 50px 5vw;
}

.border-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px 25px 0 0; 
    padding: 1px; 
    background:linear-gradient(rgba(179,179,179,1), rgba(179,179,179,0.7), rgba(179,179,179,0.1), rgba(179,179,179,0)); 
    mask: 
      linear-gradient(#000 0 0) content-box, 
      linear-gradient(#000 0 0);
    mask-composite: exclude; 
}

#footer {
    position: relative;
    height: 300px;
    /* background: linear-gradient(rgba(65,131,217,1), rgba(0,0,0,0)); */
    border-radius: 25px 25px 0 0; 
    padding: 10px 20px;
    width: 95%;
    bottom: -23px;    
}

.logo {
    height: 30px;

}

.center-absolute {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#home {
    position: relative;
}

#home .hero.text {
    padding-top: 20vh;
}

#home .search {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#home .search input {
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.7rem;
    font-weight: 700;
}

h5 {
    font-size: 1rem;
}

p.hero {
    max-width: 520px;
    font-size: 1.3rem;
}

.blue {
    color: #6cbccc;
}

.text span, .emphasis, .fancy-search {
    font-family: "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-style: italic;
}

.extra-rounded-borders {
    border-radius: 40px !important;
}

.light-border {
    border: white, 1.5px, solid;
    border-radius: 10px;
    color: white;
}

.fancy-button {
    /* font-family: "Century Schoolbook", "Century Schoolbook L", Georgia, serif; */
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
    padding: 12px 3vw;
    width: fit-content;
    color: white;
    font-size: 1rem;
}

#graph {
    z-index: 2;
}

#float-left {
    position: absolute;
    left: calc(5px + 1vw);
    top: calc(20px + 1vh);
    z-index: 5;
    width: 300px;
    text-align: left;
}

#float-right {
    position: absolute;
    right: calc(5px + 1vw);
    top: calc(20px + 1vh);
    width: 300px;
}


@media (pointer:coarse) {
    #info-box-wrapper {
        /* display: none !important; */
        transform: none !important;
    }
    

    #info-box {
        display: none;
        position: fixed !important;
        height: 40vh !important;
        width: 100vw;
        bottom: 0 !important;
        left: 0 !important;
        top: unset !important;
        right: unset !important;
        padding: 20px 25px;
        font-size: 14px;
        background-color: #3c3844;
        color: white;
    }

    @media only screen and (min-width: 900px) {
        #info-box {
            width: 60vw;
            left: 50% !important;
            transform: translateX(-50%);
            height: 23vh !important;
            padding-left: 10%;
            padding-right: 10%;
            bottom: 5% !important;
            overflow-y: scroll;
        }
    }

    @media only screen and (max-width: 610px) {
        #info-box {
            text-align: left;
        }
    }

    #info-box em {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
    }

    #info-box p {
        margin-top: 8px;
    }

    #main-wrapper {
        height: unset !important;
    }

}

#info-box {
    border: none;
}

@media not (pointer:coarse) {
    #info-box {
        font-size: 0.85em;
        padding: 15px 10px;
        position: absolute;
        background-color: unset;
        background: rgba(255, 255, 255, 0.7);
        border: 1px solid black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: none;
        text-wrap: pretty;
        max-width: 28vw;
        width: max-content;
        min-width: 225px;
        transform: translate(-50%, -50%);
        overflow: auto;
        max-height: 16vh;
    }

    #info-box p {
        margin: 0;
    }
}



.absolute-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 #info-box-wrapper  {
    z-index: 10;
}

input.btn {
    border: 1px solid lightgrey !important; 
    text-align: left;
}

#main-verse {
    font-size: 0.9em;
    min-width: 250px;
    max-width: 700px;
    margin: auto;
    text-wrap: pretty;
    padding: 0;
    position: relative;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
}

#main-verse .title a {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 0 5px;
    color: #6cbccc; /* color['hl3'] */
}

#main-verse .title a:hover {
    text-decoration: solid;
    color: #6cbccc; /* color['hl3'] */
}

#main-verse .title {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin-bottom: 4px;
    display: block;
}

.big H6 {
    font-size: 1.3rem;
}

.big p {
    font-size: 0.95rem
}

/* p { 
    color: red;
} */
